aFileChooser/build/**
APDE/build/**
APDE/src/main/gen/**
wear-companion/build/**
sketch-preview/build/**
build/**
.gradle/
.idea
.idea/copyright/
.idea/libraries/
.idea/dictionaries/
.idea/workspace.xml
gradle/
*.log
local.properties
*.iml
gradlew
gradlew.bat
APDE/src/main/gen
