aFileChooser/build/**
APDE/build/**
wear-companion/build/**
sketch-preview/build/**
build/**
.gradle/
#.idea
#.idea/copyright/
#.idea/libraries/
#.idea/dictionaries/
#.idea/workspace.xml
gradle/
*.log
local.properties
#*.iml
#gradlew
#gradlew.bat