<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calsignlabs.apde"
    android:versionCode="3"
    android:versionName="0.2.1" >
    
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Will be needed in future versions of Android -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- For the drag'n'drop Message area's haptic feedback -->
    
    <application
        android:name="com.calsignlabs.apde.APDE"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		
        <!-- Got rid of configChanges to solve problems... it's here if we need it, though:
             android:configChanges="orientation|keyboardHidden|screenSize" -->
        <activity
            android:name="com.calsignlabs.apde.EditorActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- TODO implement correct handling for file intents -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pde" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.calsignlabs.apde.SketchPropertiesActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_sketch_properties"
            android:theme="@style/PreferencesTheme" />
        
        <activity
            android:name="com.calsignlabs.apde.SettingsActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_settings"
            android:theme="@style/PreferencesTheme" />
        
        <activity
            android:name="com.calsignlabs.apde.PermissionsActivity"
            android:label="@string/title_activity_permissions"
            android:theme="@style/FullscreenTheme" />
        
        <!-- This is a hook into the AFileChooser library's custom file chooser activity -->
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/chooser_label" >
            
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>