<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.calsignlabs.apde"
		  android:installLocation="auto"
		  android:versionCode="23"
		  android:versionName="0.5.0-pre2">
	
	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="27"/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<!-- Will be needed in future versions of Android -->
	<uses-permission android:name="android.permission.VIBRATE"/>
	<!-- For the drag'n'drop Message area's haptic feedback -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
	<uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
	
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
	<application
		android:name=".APDE"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/apde_app_title"
		android:theme="@style/AppTheme">
		
		<!--
             Got rid of configChanges to solve problems... it's here if we need it, though:
             android:configChanges="orientation|keyboardHidden|screenSize"
        -->
		<activity
			android:name=".EditorActivity"
			android:label="@string/apde_app_title"
			android:theme="@style/FullscreenTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			
			<!-- Open .PDE files with APDE -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.EDIT"/>
				
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				
				<data android:scheme="file"/>
				<data android:host="*"/>
				<data android:mimeType="\*/\*"/>
				<data android:pathPattern=".*.pde"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.EDIT"/>
				
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				
				<data android:scheme="content"/>
				<data android:host="*"/>
				<data android:mimeType="\*/\*"/>
				<data android:pathPattern=".*.pde"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".SketchPropertiesActivity"
			android:icon="@drawable/ic_launcher"
			android:label="@string/title_activity_sketch_properties"
			android:theme="@style/PreferencesTheme"/>
		<activity
			android:name=".SettingsActivity"
			android:icon="@drawable/ic_launcher"
			android:label="@string/title_activity_settings"
			android:theme="@style/PreferencesTheme"/>
		<activity
			android:name=".LicensesActivity"
			android:hardwareAccelerated="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/pref_about_licenses"
			android:theme="@style/PreferencesTheme"/>
		<activity
			android:name=".PermissionsActivity"
			android:label="@string/title_activity_permissions"
			android:theme="@style/FullscreenTheme"/>
		<activity
			android:name=".CharacterTraySettingsActivity"
			android:label="@string/title_activity_character_tray_settings"
			android:theme="@style/PreferencesTheme"/>
		<activity
			android:name=".LibraryManagerActivity"
			android:label="@string/title_activity_library_manager"
			android:theme="@style/FullscreenTheme"/>
		<activity
			android:name=".vcs.GitHistoryActivity"
			android:label="@string/git_history"
			android:theme="@style/FullscreenTheme"/>
		<!-- This is a hook into the AFileChooser library's custom file chooser activity -->
		<activity
			android:name="com.ipaulpro.afilechooser.FileChooserActivity"
			android:enabled="@bool/use_activity"
			android:exported="true"
			android:icon="@drawable/ic_chooser"
			android:label="@string/file_chooser_title">
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT"/>
				
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.OPENABLE"/>
				
				<data android:mimeType="*/*"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ReferenceActivity"
			android:label="@string/title_activity_reference"
			android:theme="@style/FullscreenTheme"/>
		
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="com.calsignlabs.apde.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/paths"/>
		</provider>
	</application>

</manifest>